{% extends 'educa/educa_base.html'%}
 
	<h1>HI</h1>
 
{% block title %}
		
	Интернатура-редактирование
{% endblock %}


{% block content %}
	<style>
		table {
 		 font-family: arial, sans-serif;
 		 border-collapse: collapse;
 		 width: 100%;
		}

		td, th {
  		border: 1px solid #dddddd;
  		text-align: left;
  		padding: 8px;
		}

		tr:nth-child(even) {
  		background-color: #dddddd;
		}
	</style>
	
	<form action="{{ internship.get_update_url }}" method='post' enctype="multipart/form-data">
			{% csrf_token %}
		<div class="form-group">
			<table style="width:40%">
				<tr>	
					<td style="font-size:100%;width:50%"> Название  {{form.name}}</td>
					<td style="font-size:100%;width:50%" hidden> Название  {{form.direction}}</td>
					<td style="font-size:100%;width:50%" hidden> Название  {{form.director}}</td>

					<td style="font-size:100%;width:50%"> Список направлений {{direction_to_del}}</td>
					<td style="font-size:100%;width:50%"> Список направлений {{direction_to_add}}</td>
					<td style="font-size:100%;width:50%"> Руководители сейчас{{director_to_del}}</td>
					<td style="font-size:100%;width:50%"> Руководители добавить{{director_to_add}}</td>


			</table>
			<table style="width:40%">
				<tr>
					<td style="font-size:100%;width:50%">Курсы сейчас {{course_to_del}}</td>
					<td style="font-size:100%;width:50%">Курсы добавить {{course_to_add}}</td>

				</tr>
			</table>
		</div>

		
		<button type="submit" class="btn btn-primary">Сохранить</button>
	</form>

{{message}}

{% endblock %} 


