{% extends 'educa/educa_base.html'%}
 
	<h1>HI</h1>
 
{% block title %}
		
	Детализация теста
{% endblock %}


{% block content %}
	<ul class="list-group list-group-flush">
		<li class="list-group-item">Названия {{test.name}}</li>
		<li class="list-group-item">Авторы {% for own in test.get_owner%}{{own}}</br>{%endfor%}</li>
		<li class="list-group-item">Список тем, в которых используется:</br>  {% for theme in test.get_themes%}<a href="{{theme.get_absolute_url}}">{{theme}}</br></a>{%endfor%}</li>
	 	<li class="list-group-item">Содержание <a href="{% url 'test_base_text_url' pk=test.id %}">{{test.base}}</a></li>
 	 </ul>

	</div>

	{% if request.user.is_authenticated %}
		<div class="obj-panel">
			 <p>Выбрать</p>
				 {% block obj-panel%}
					<a class="btn btn-light" href="{{test.get_update_url}}">Редктировать</a>
					<a class="btn btn-danger" href="{{test.get_delete_url}}">Del</a>
					<a class="btn btn-light" href="{% url 'tests_list_url'%}">Вернуться к списку</a>
				 {%endblock%}
		</div>
	{% endif%}

{% endblock %} 

<!--{flat.get_absolute_url}-->
